*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
  }
  .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(laptop2.jpg);
    background-size: cover;
    background-position: center unset;
    position: relative;
  }
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav{
    height: 20px;
    width: 88%;
    background: white;
  }
  nav img{
    width: 400px;
  }
  .nav-links{
    flex: 1;
    text-align: right;
    transition: 1s;
    color: black;
  }
  .nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
  }
  
  .nav-links ul li a:hover{
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  .nav-links ul li::after{
    background:rgb(12, 4, 4);
    display: block;
    margin: auto;
    transition: 1s;
  }
  .nav-links ul li:hover::after{
    font-weight: bold;
    
  
  }
  .text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text h1{
    font-size: 62px;
  }
  .text p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;
  }
  .join-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    height: auto;
    width: auto;
  }
  .join-button:hover{
    border: 1px solid #001F3F;
    background: #1483f3;
    transition: 1s;
    border-radius: 20px;
  }
  nav .fa{
    display: none;
  }
  @media(max-width: 700px){
    nav{
        height: 40px;
        width: 88%;
        background: white;
    }
    .text h1{
        font-size: 18px;
  }
  nav img{
    width: 200px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #001F3F;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
  nav .fa{
    display: block;
    color: black;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
  }
  
  /*-----Courses----*/
  .courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  
  h1{
    font-size: 29px;
    font-weight: 600;
    
  }
  
  p{
    color: 	black;
    font-size: 19px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  
  .Short_course_Time{
    color: #1483f3;
    margin-top: 5px;
  }
  
  .Short_course_Time:hover{
    color: #1483f3;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .row{
    margin: 5%;
    display: flex;
    justify-content:space-between;
  }
  
  .course-detail{
    flex-basis: 23%;
    background-color: #001F3F;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
  }
  .course-detail img{
    width: 150px;
    height: 150px;
  }
  
  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: white;
  }
  
  .courses h1{
    color: #001F3F;
  }
  
  .row p{
  color: white;
  }
  
  .course-detail:hover{
    box-shadow: 0 0 20px rgba(8, 0, 0, 0.5);
    font-weight: bold;
  }
  
  .footer .row{
    display: flex;
    flex-wrap: wrap;
  }
  .footer{
    position: absolute;
    background-color: #001F3F;
    width: 100%;
    height: 49vh;
    padding: 70px 0;
  }
  
  .footer-column ul{
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li{
    margin-bottom: 8px;
  }
  
  .footer-column a{
    display: block;
    color: aliceblue;
  }
  
  .footer-column a:hover{
    display: block;
    color: aliceblue;
    font-weight: bold;
  
  }
  
  .footer-column ul li p{
    color: white;
  }
  
  .footer-column ul li p :hover{
    color: white;
    font-weight: bold;
    }
  .footer-column{
    width: 29%;
    padding: 0 14px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 10px;
  }
  
  .footer-column h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: aliceblue;
  }
  
  .form,
  .form-control{
    color: white;
    height: 30px
  }
  .news{
    color: white;
    height: 30px;
    
  }
  
  .form button{
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-size: medium;
    background-color: #001F3F;
    border-color: wheat;
    color: white;
    cursor: pointer;
  }
  
  .form button:hover {
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-size: medium;
    background-color: aqua;
    border-color: white;
    color: white;
    font-weight: bold;
    transition: 1s ease-in-out;
  }
  
  .copyright p{
    color: gray;
    text-align: right;
    font-weight: lighter;
  }
  .copyright p:hover{
    color: white;
    text-align: right;
    font-weight: lighter;
  }
  
  @media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .footer{
        width: 100%;
        height: 128vh;
    }
    .footer-column ul li p{
        display: flex;
    }
  }
  .course-det{
    flex-basis: 23%;
    background-color: #001F3F;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
    cursor: pointer;
  }
  
  .course-det h1{
  color: white;
  font-weight: 450px;
  }
  .course-det h1:hover{
    color: white;
    font-weight: 500px;
    }
  .course-det a{
  color: white;
  font-weight: lighter;
  }
  .course-det a:hover{
  color: white;
  font-weight: bold;
  transition: 0.5s ease-in;
  cursor: pointer;
  }
  .container div p{
    color: black;
  }